@using Microsoft.AspNet.Identity
@using project.Models;

@{
    /**/

    projectdbEntities dbb = new projectdbEntities();

}
@if (Request.IsAuthenticated)
{



    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        var id = User.Identity.GetUserId();
        var user = dbb.AspNetUsers.Where(x => x.Id == id).FirstOrDefault().profilephoto;
        @Html.AntiForgeryToken()

        <a class="nav-link" href="~/Home/Upload">
            <div class="sb-nav-link-icon"><i class="fa fa-upload"></i></div>
            Upload
        </a>









    }
}
else
{

    <a class="nav-link" href="~/Home/uploadnoaccount">
        <div class="sb-nav-link-icon"><i class="fa fa-upload"></i></div>
        upload no account
    </a>










}
